.cashbtn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cardbtn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#totals {
    border-style: solid;
    border-color: green;
    padding-left: 10px;
}

#cartTitle {
    padding: 45px;
    text-align: center;
    background: green;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

#storetitle {
    padding: 60px;
    text-align: center;
    background: green;
    color: white;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

#cash {
    border-style: solid;
    border-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#cardinfo {
    border-style: solid;
    border-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


/* Search Bar & nav */

.search-bar {
    position: fixed;
    top: 1%;
    left: 56%;
    width: 35%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: lightgrey;
}

.fa-shopping-cart {
    position: fixed;
    left: 95%;
    top: 1.7%;
}

#logo {
    display: inline-block;
}

#gasopt {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#electricopt {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#humanopt {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mainTitle {
    padding: 60px;
    text-align: center;
    background: green;
    color: white;
    font-size: 45px;
    font-family: 'Roboto Condensed', sans-serif;
}

.secondaryTitle {
    padding: 45px;
    text-align: center;
    background: green;
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}